a{
    color: #000;
    text-decoration: none;
}

/*======FORM SEARCH======*/

#form_search{
    border: 1px solid#000000;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 920px;
    position: relative;
    left: 280px;
}

#form_search form{
    position: relative;
    margin: 40px 50px;
}

#form_search input[type=text], input[type=email], select{
    position: absolute;
    left: 100px;
}

#form_search input[type=submit]{
    width: 70px;
}

#form_search #reset{
    background: #ffb7ab;
}

#form_search #search{
    color: #fff;
    background: #5858d6;
}

